<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transactions</title>
    <link rel="stylesheet" href="../static/alltrancitions.css">
    <!-- style  -->
        <!-- include ../static/alltranctions.css -->
</head>
<body>
    <section class="recent">
        <h3>Recent</h3>
        <div class="recents paid">
            <span class="date">21-09-2021</span>
            <span class="time">0941 hrs</span>
                <p>Paid</p>
                <p>Amount: 1000 INR</p>
                <p>Dealer: Jonty Kirana</p>
        </div>

        <div class="recents received">
            <span class="date">20-09-2021</span>
            <span class="time">2130 hrs</span>
                <p>Received</p>
                <p>Amount: 800 INR</p>
                <p>Dealer: Monty Kirana</p>
        </div>
    </section>

    <section class="older">
        <h3>Previous</h3>
        <div class="recents paid">
            <span class="date">21-09-2021</span>
            <span class="time">0941 hrs</span>
                <p>Paid</p>
                <p>Amount: 1000 INR</p>
                <p>Dealer: Jonty Kirana</p>
        </div>

        <div class="recents received">
            <span class="date">20-09-2021</span>
            <span class="time">2130 hrs</span>
                <p>Received</p>
                <p>Amount: 800 INR</p>
                <p>Dealer: Monty Kirana</p>
        </div>
    </section>
</body>
</html>