<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    //- <link rel="stylesheet" href="../../Practicum_30/static/Home_page.css" type="text/css", charset="UTF-8">
    style 
        include ../static/Home_page.css
</head>
<body>
    <nav class="navv">
        <div class="aaa" ><a href="Login_Page.pug">AAA</a></div>
        <div class="navinside"><a href="profile.pug">Profile</a></div>
        <div><a href="markattendance.pug">Mark Attendance</a></div>
        <div><a href="salary.pug">Salary</a></div>
        <div><a href="increment.pug">Increments</a></div>
        <div><a href="holidays.pug">Holidays</a></div>
    </nav>

<div class="diffwork">
    <div class="raw">
        <h3>Raw Material Managment</h3>
        <ul class="rawul">
            <li class="rawli"><a href="addmaterial.pug">Add Material</a></li>
            <li class="rawli"><a href="material_list.pug">Material List</a></li>
            <li class="rawli"><a href="materialresheduling.pug">Material Resheduling</a></li>
            <li class="rawli"><a href="updatemateriallist.pug">Update Material List</a></li>
        </ul>
    </div>
    
    
    <div class="product">
        <h3>Product Managment</h3>
        <ul class="productul">
            <li class="productli"><a href="product_list.pug">Product List</a></li>
            <li class="productli"><a href="updateprice.pug">Update Price</a></li>
        </ul>
    </div>
   
    <div class="account">
        <h3>Account Managment</h3>
        <ul class="accountul">
            <li class="accountli"><a href="allTransactions.pug">All Transactions</a></li>
            <li class="accountli"><a href="unpaidtrancitions.pug">Unpaid Transactions</a></li>
        </ul>
    </div>
</div>

</body>
</html>