<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAA Groups</title>
    <link rel="stylesheet" href="../static/Login_page.css">
</head>
<body>
    <h3 class="companyname">
        A AAA Groups 
    </h3>

    <div class="formm">
    <form class="employeid" method="POST" action="/">
        <!-- <label class="desi" for="Designation">Designation      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select name="Designation" id="Designation">
        <option value="HR">HR</option>
        <option value="Manager">Manager</option>
        <option value="Sales">Sales</option>
        <option value="Account">Account</option>
        </select> -->
        
        <input type="text" placeholder="HR,Manager,Sales,Account " name="post">
        <input type="text" placeholder="Employee ID " name="email">
        <input type="text" placeholder="Password" name="password">
        <button class="btn">Sign in</button>
    </form>
</div>
</body>
</html>