<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material List</title>
    style 
        include ../static/salarylistcss.css
</head>
<body>
    <h3 class="employeelist">Material List</h3>


<div class="employee">
        <div class="first">Iron
            <div class="firstfirst">1426</div>
        </div>
        <div class="mid">5,00,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>

        <div class="end">10 Ton
            <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div>
    
<div class="employee">
        <div class="first">Stainless Steel
            <div class="firstfirst">1430</div>
        </div>
        <div class="mid">3,45,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>
        <div class="end">15 Ton
            <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div>
    
    
<div class="employee">
        <div class="first">Plastic
            <div class="firstfirst">1435</div>
        </div>
        <div class="mid">2,50,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>
        <div class="end">37 Ton
          <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div>
    
    
<div class="employee">
        <div class="first">Carbon Fiber
            <div class="firstfirst">1438</div>
        </div>
        <div class="mid">6,00,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>
        <div class="end">2 Ton
            <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div>
    
    
<div class="employee">
        <div class="first">Rubber
            <div class="firstfirst">1440</div>
        </div>
        <div class="mid">4,45,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>
        <div class="end">90 kg
            <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div>
<div class="employee">
    
    
        <div class="first">Aluminum
            <div class="firstfirst">1444</div>
        </div>
        <div class="mid">9,98,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>
        <div class="end">4 Ton
            <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div>
    
    
<div class="employee">
    
    
        <div class="first">Titanium
            <div class="firstfirst">@shub</div>
        </div>
        <div class="mid">1,69,000
            <div class="firstfirst">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Price</div>
        </div>
        <div class="end">50kg
            <div class="firstfirst">&nbsp;&nbsp;Quantity</div>
        </div>
</div></body></html>