<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" href="../static/employeeattendancecss.css">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body><h3 class="product list">Product List</h3>

<div class="employee">
    <div class="first">RR Model 1
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">79,998
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
</div>
    <div class="end">111141
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>


<div class="employee">
    <div class="first">SD Model
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">69,999
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111142
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>


<div class="employee">
    <div class="first">GN 1000px
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">2,59,599
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111145
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>


<div class="employee">
    <div class="first">RJ 350 Model 3
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">86,000
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111147
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>


<div class="employee">
    <div class="first">KM 650J
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">1,34,999
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111149
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>
<div class="employee">


    <div class="first">JF Model X
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">94,990
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111151
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>


<div class="employee">


    <div class="first">TD Model 4
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">89,000
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111153
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>

<div class="employee">


    <div class="first">SG 790cc
      <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model 
      </div>
    </div>
    <div class="mid">1,69,000
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;Price</div>
    </div>
    <div class="end">111155
        <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
    </div>
</div>


  </body>
</html>
