<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary</title>
    <!-- <link rel="stylesheet" href="../static/salarylistcss.css"> -->
    style 
        include ../static/salarylistcss.css
</head>
<body>
    <h3 class="employeelist">Salary</h3>


<div class="employee">
        <div class="first">Sudhanshu Singh
            <div class="firstfirst">@sudhanshusingh</div>
        </div>
        <div class="mid">HR
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848129
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>

        <div class="end">70k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
<div class="employee">
        <div class="first">Harsh
            <div class="firstfirst">@hrk</div>
        </div>
        <div class="mid">Manager
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848126
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">100k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
    
<div class="employee">
        <div class="first">Rajat Kumar Singh
            <div class="firstfirst">@rks</div>
        </div>
        <div class="mid">Sales
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848125
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">50k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
    
<div class="employee">
        <div class="first">Neeraj Yadav
            <div class="firstfirst">@neerajydv</div>
        </div>
        <div class="mid">Account
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848122
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">80k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
    
<div class="employee">
        <div class="first">Aman Aditya
            <div class="firstfirst">@amanad</div>
        </div>
        <div class="mid">Sales
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848125
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">50k
            <div class="firstfirst">Salary</div>
        </div>
</div>
<div class="employee">
    
    
        <div class="first">Dheeraj Pawar
            <div class="firstfirst">@dheerajpawar</div>
        </div>
        <div class="mid">Account
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848133
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">80k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
    
<div class="employee">
    
    
        <div class="first">Subhas
            <div class="firstfirst">@shub</div>
        </div>
        <div class="mid">Account
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848136
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">80k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
<div class="employee">
    
    
        <div class="first">Uday Kota
            <div class="firstfirst">@udkota</div>
        </div>
        <div class="mid">Sales
            <div class="firstfirst">&nbsp; &nbsp;Desigination</div>
        </div>
        <div class="end">7346848136
            <div class="firstfirst">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</div>
        </div>
        <div class="end">50k
            <div class="firstfirst">Salary</div>
        </div>
</div>
    
       
</body>
</html>