<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary</title>
    //- <link rel="stylesheet" href="../static/salarycss.css">
    style 
        include ../static/salarycss.css
</head>
<body>
    <h3>
    Your Salary
</h3>
<div class="divv">
    <ul class="divvul">
        <li class="divvli">Base Salary : </li>
        <li class="divvli">Total Salary : </li>
        <li class="divvli">NPF : </li>
        <li class="divvli">Tax : </li>
    </ul>
</div>

</body>
</html>