<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transactions</title>
    <link rel="stylesheet" href="../static/unpaidtrancitions.css">

</head>
<body>
    <section class="recent">
        <h3>Recent</h3>
        <div class="recents paid">
            <span class="date">23-09-2021</span>
            <span class="time">0941 hrs</span>
                <p>Unpaid</p>
                <p>Amount: 10000 INR</p>
                <p>Dealer: Jon</p>
        </div>

    </section>

    <section class="older">
        <h3>Previous</h3>
        <div class="recents paid">
            <span class="date">15-09-2021</span>
            <span class="time">0923 hrs</span>
                <p>Paid</p>
                <p>Amount: 50000 INR</p>
                <p>Dealer: Sudhanshu Singh</p>
        </div>
    </section>
</body>
</html>