<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Details</title>
    <link rel="stylesheet" href="../static/addmaterial.css">
</head>
<body>
    
<div class="main">
    <div class="box1">
            <img src="../static/img/man.jpg" width="500px" height="600px" alt="">
    </div>
    
    <div class="box2">
        <h3>Update Employee Details</h3>
        <form action="" class="formm" method="POST" action="/">  
            A Employee ID : <br> <input type="text" placeholder="ex. 7346848133">
            A Employee Name : <br> <input type="text" placeholder="ex. Sudhanshu Singh">
            A Desigination : <br> <input type="text" placeholder="ex. HR,Manager,Sales,Account">
            <button class="btn">Update</button>
        </form>
    </div>
</div>
</body>
</html>