<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Material</title>
    <link rel="stylesheet" href="../static/addmaterial.css">
</head>
<body>
    
<div class="main">
    <div class="box1">
            <img src="../static/img/material.jpg" width="500px" height="600px" alt="">
    </div>
    
    <div class="box2">
        <h3>Update Material List</h3>
        <form action="" class="formm" method="POST" action="/">  
            A Material ID : <br> <input type="text" placeholder="ex. 111126">
            A Material Name : <br> <input type="text" placeholder="ex. Steel">
            A Material Price : <br> <input type="text" placeholder="ex. 20k INR">
            //- A Reciving Date : <br> <input type="text" placeholder="ex. 13 Oct 2022">
            //- A Confirm Reciving Date : <br> <input type="text" placeholder="ex. 13Oct 2022">
            <button class="btn">Delete</button>
            <button class="btn">Add New</button>
        </form>
    </div>
</div>
</body>
</html>