body{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

nav{
    height: 200px;
    margin-top: 10px;
    border-bottom: 2px solid black;
}
nav ul li a{
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav ul li{
    margin-bottom: 20px;
}

.afternav{
    padding-top: 50px;
}

.afternav ul li a{
    text-decoration: none;
    color: black;
}

.afternav ul{
    list-style: none;
}

.afternav ul li{
    margin-bottom: 30px;
    list-style: none;
}